@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<h3>The initial create has been done and the first github commit.</h3>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
