@inherits LayoutComponentBase

<PageTitle>WiredBrainCoffee.EmployeeManager</PageTitle>

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.bbc.co.uk" target="_blank">BBC</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
